header {
    background-color: red;
}

ul{
    display: flex;
    list-style: none;
    padding: 5px;
    box-shadow:2px 2px 5px rgb(68, 67, 67);
}

ul li {
    padding: 15px;
    font-size: 18px;
    color: white;
    text-transform: uppercase;
}

.section0 {
display: flex;
justify-content: center;
padding: 25px;
}
img {
    width: 350px;
}
#section1 {
    display: flex;
    justify-content: center;
    padding: 10px;
}

input {
    border: 1px solid rgb(203, 183, 183);
    border-radius:16px;
    background-color: rgb(203, 183, 183);
    color: rgb(178, 165, 165);
    padding: 10px;
    width: 850px;
    margin-bottom: 40px;
}

.section2  {
    display: flex;
    justify-content: left;
    padding: 10px;
}
.section2 p {
    margin: auto;
    border: 1px solid rgb(165, 149, 149);
    background-color: rgb(165, 149, 149);
    color:rgb(57, 47, 47);
    border-radius: 10px;
    padding: 12px;
    width: 150px; 
}

h2 {
    font-size: 30px;
    margin: 30px auto 30px 45px;
}
.section3 {
    border: 1px solid rgb(165, 149, 149);
    border-radius: 10px;
    background-color: rgb(178, 165, 165);
    margin-right: 900px;
    margin-left: 45px;
    padding: 10px;
    display: flex;
}

.image img {
    width: 200px;
    border-radius: 18px;
}